<div>
    <h1>Hello everyone</h1>
    <p>Now , new product is listing. 
        <%= name %> is trying to sell <h3 style="color: red;"><%= product.name %></h3> 
        and price is <h3 style="color: red;"><%= product.new_price %></h3></p>
        <img src="<%= product.image %>" alt="">
</div>