.filter {
    margin: 50px 100px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: center; /* Center align the buttons */
}

.filter button {
    border: none;
    background-color: transparent;
    position: relative; 
    padding: 5px 0; 
    font-size: 16px; 
    cursor: pointer; 
}

.filter button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #717FE0; 
    transition: width 0.3s ease-in-out; 
}

.filter button:hover::after {
    width: 100%; 
}



/* Media Queries */
@media (max-width: 768px) {
    .filter {
        margin: 30px 50px;
        gap: 30px;
    }

    .filter button {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .filter {
        margin: 20px 20px;
        gap: 20px;
    }

    .filter button {
        font-size: 12px;
    }
}
